<div class="row">
  <div class="col-md-4 col-sm-12 address">
    <h3>Address</h3>
    <p>No. 2829, MANYELETI, TEMBA GAUTENG 0407</p>
    <!-- <p>P.O. BOX 486. TEMBA 0407. Contact Details</p> -->
  </div>
  <div class="col-md-4 col-sm-12 logo">
    <img class="" src="./assets/logo.png" alt="Logo">
    <div class="wrapper">
      <h1>MTHOMBENI</h1>
      <p>ATTORNEYS <i>.</i> BABUELEDI</p>
    </div>
  </div>
  <div class="col-md-4 col-sm-12 contacts">
    <h3>Contacts</h3>
    <div class="icons">
      <i class="cell">
        <img src="./assets/svg/phone.svg" class="icon cell" /></i>
      <i class="email">
        <img src="./assets/svg/email.svg" class="icon email" /></i>
      <i class="hours">
        <img src="./assets/svg/busHours.svg" class="icon hours" /></i>
    </div>
  </div>
</div>
