// .jumbotron {
//   padding: 80px;
//   background-image: linear-gradient(to right, #8027a7 0, #dd4b39 100%);
//   color: rgba(255,255,255,0.75);
// }

// div.address.col-4 {
//   border-right: inset;
//   text-align: center;
//   font-size: 20px;
// }

// div.logo.col-4 {
//   border-right: inset;
//   text-align: center;
// }

// div.contacts.col-4 {
//   text-align: center;
//   font-size: 20px;
// }

.row {
  background: linear-gradient(-2deg, #ffbc00, #ffbc0042);
  padding: 10px 0px;
  p {
    margin: 3px;
    font-size: 18px;
    font-weight: 300;
  }
  div {
    text-align: center;
    font-size: 20px;
    font-variant: small-caps;
    align-self: center;

    &.logo {
      border: 2px solid gray;
      border-top: none;
      border-bottom: none ;
    }
  }
}

.logo {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  padding: 15px 0;

  img {
    height: 79px;
    position: relative;
    top: -8px;
    margin-right: 8px;
  }

  .wrapper {
    margin: auto 12px;
    margin-right: 0;
    h1 {
      font-size: 1.8rem;
      margin-bottom: 0;
    }
    p {
      font-size: 1.2rem;

      i {
        font-size: 40px;
        line-height: 0;
        font-weight: 700;
        margin-left: 5px;
      }
    }

  }
}

.contacts {
  .icons {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
    margin-bottom: 7px;
    i {
      &.cell {
        position: relative;
        &::before {
            content:'call';
            position: absolute;
            height: 20px;
            width: 100%;
            top: 86%;
            /* left: 50%; */
            transform: translate(-6%, 0%);
        }
      }

      &.email {
        position: relative;
        &::before {
          content: 'email';
          position: absolute;
          height: 20px;
          width: 100%;
          top: 86%;
          /* left: 50%; */
          transform: translate(-38%, 0%);
        }
      }

      &.hours {
        position: relative;
        &::before {
          content: 'hours';
          position: absolute;
          height: 20px;
          width: 100%;
          top: 86%;
          /* left: 50%; */
          transform: translate(-38%, 0%);
        }
      }
    }
    .icon {
      height: 29px;

    }

  }
}


@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 2) {
    .row {
      background: linear-gradient(-2deg, #ffbc00, #fffab3);

      div {

        &.logo {
          border: 2px solid gray;
          border-left: none;
          border-right: none ;
        }
      }
    }
}

@media screen
  // and (device-width: 601px)
  and (max-width: 766px)
  // and (-webkit-min-device-pixel-ratio: 1.331)
  // and (-webkit-max-device-pixel-ratio: 1.332)
  {
    .row {
      background: linear-gradient(-2deg, #ffbc00, #fffab3);

      div {

        &.logo {
          border: 2px solid gray;
          border-left: none;
          border-right: none ;
        }
      }
    }
}


