
<footer class="ftco-footer ftco-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-mb">
        <div class="ftco-footer-widget mb-4">
        <h2 class="ftco-heading">About website</h2>
        <p>================= ==============  =======
        </p>
        
          <ul class="ftco-footer-social list-unlisted float-md-left float-lft mt-5">
            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
          </ul>
        </div>  
      </div>
      

        <div class="col-mb">
          <div class="ftco-footer-widget mb-4 ml-md-4">
            <h2 class="ftco-heading-2">Links</h2>
            <ul class="list-unstyled">
              <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Attornies</a></li>
              <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Help</a></li>
              <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Testimonials</a></li>
            </ul>
          </div>
        </div>

        <div class="col-mb">
          <div class="ftco-footer-widget mb-4 ml-md-4">
            <h2 class="ftco-heading-2">Services</h2>
            <ul>
               <li>Criminal law</li>
                <li>Divorce law</li>
                <li>Industrial law</li>
                <li>Corporate law</li>
                <li>Financial law</li>
                <li>Accident law</li>
          </ul>
          </div>
        </div>

        <div class="col-mb">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Have questions?</h2>
            <div class="block-23 mb3">
              <ul>
                <li><span class="icon icon-map-maker"><span class="text">Physical address :
                  No. 2829, MANYELETI, TEMBA
                  <p>GAUTENG</p>
                  <p>0407</p>
                  <br> 
                 <p> P.O. BOX 486</p>
                  <p>TEMBA</p>
                  0407</span></span></li>
<br>
                <li><span class="text">Office tel: (012) 717-2061</span></li>
                <li><span class="text">Mobile Tel: (078) 178-9906</span></li>
                <li><span class="text">Fax: (086) 714-9628</span></li>
                <p></p>
                <li><a href="@"><span class="icon icon-envelope"></span><span class="text">Email address: info@mthombeniattorneys.com</span></a></li>
              </ul>
            </div>
          </div>
        </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <p>Copyright &copy;<script type="document.write(newDate().getFullYear());"></script>All rights reserved</p>
      </div>
    </div>
  </div>

</footer>
