<!-- <div class="container"> -->
<div class="history row">
  <h3 class="col-12">Our History</h3>
  <h5 class="col-12">We Started Since: <span>2014</span></h5>
  <div class="content col-lg-6 col-md-12">

    <div class="info">
      <div class="about">
        <p>Our firm of fresh and vibrant staff has earned a reputation for boldly and proficiently defending and promoting
          the interests of our clients. We have secured diverse and competent experience in criminal as well as civil
          litigation within our region.
          On a regular basis we expanded our service offerings to additional fields of law. The skilled, efficient and
          service driven professionalism for which Mthombeni Attorneys has become renowned, has similarly been taken
          forward in our labour and family law as well as other advisory services.
          We continue to take pride in the reputation we are widely recognized for in as far as professionalism and client
          service is concerned.</p>
      </div>

    </div>
    <button class="btn btn-lg btn-warning">Read More</button>
  </div>
  <div class="histImg col-lg-6 col-md-12">
    <img src="./assets/stock people/5000.jpg" alt="#">
  </div>
  <div class="vision">
    <h2>Our Vision</h2>
    To offer inimitable legal services to both the individual and businesses and to serve as a primary resource and
    partner in all aspects of clients’ personal challenges and business growth and development while striving towards
    achieving results that exceed our clients expectations in the diverse fields of law in the multinational arena.
  </div>

</div>
<!-- </div> -->
