
    
    body>
    style>
        head>
        element class=" ul">.breadcrumb{
            padding:8px 16px;
            list-style:none;
            background-color:rgb(99, 202, 14);
        }
        ul.breadcrumb li {display:inline;}
        ul.breadcrumb li+li:before{
            padding:8px;
            color:black;
            content: "/\00a0";
        }
        ul.breadcrumb li a {color:green;}
    </style>
    </head>

    <body>
       <ul class="breadcrumbs">
            <a href="#">HOME</a>|
            <a href="#">OUR HISTORY</a>|
            <a href="#">ATTORNEY</a>|
            <a href="#">CONTACT US</a>|
            <a href="#">HELP</a>