<div class = "container-fluid">
    <h3 class="mb-5">Our Testimonials </h3>
    <!-- <div class="row">
        <div class="col-sm-4 left">Left</div>
        <div class="col-sm-4 center">Center</div>
        <div class="col-sm-4 right">Right</div>
    </div> -->
    <div class="row">
        <div class="container mt-1">
        <div class="card-deck">
        <div class="card">
        <div class="card-body">
            <img class="img-responsive img-rounded" src="./assets/global.jpeg" alt="" height="300px" width="300px">
            <h3 class="card-title" mt-2>Global InterGold Pty(Ltd)</h3>
            <h5 class="card-subtitle>Greetings"></h5>
            <p class="card text" mt-3>I look forward to continuing the involvement with you guys as we grow
                ,I was at a vantage point, for a company who could present, prompt and cost effectively offer legal support to a start-up consultancy and thats what i got. I look forward to continuing the relationship with Mthombeni Attornies as we grow.</p>
            <a href="%" class="btn btn-dark btn-sm float-right">Read more..</a>
        </div>
        </div>

        <div class="card">
            <div class="card-body"><img class="img-responsive img-rounded" src="./assets/no4711.jpeg" alt="" height="300px" width="300px">
            <h3 class="card-title" mt-2>No.4711</h3>
            <h5 class="card-subtitle>Greetings"></h5>
            <p class="card text" mt-3> Thank you so much for all your help in this regard, we would have suffered a great deal more financially without your knowledge and patient approach. I would be happy to recommend you guys to anyone at any time 
                – please feel free to use this testimony for your company</p>
            <a href="%" class="btn btn-dark btn-sm float-right">Read more..</a>
        </div>
        </div>

        <div class="card">
            <div class="card-body">
            <img class="img-responsive img-rounded" src="./assets/tesla.jpeg" alt="" height="300px" width="300px">
            <h3 class="card-title" mt-2>Tesla Ltd

            </h3>
            <h5 class="card-subtitle>Greetings"></h5>
            <p class="card text" mt-3>Mthombeni Attornies assisted with the merger of our regulated businesses a much more positive experience
                the supportive, personal and proactive approach taken by the other party and got our merger across the line, which could have dragged on for months. We would like to thank the Commercial Team for their commercial expertise and robust approach. It made the merger of our regulated businesses a much more positive experience.</p>
            <a href="%" class="btn btn-dark btn-sm float-right">Read more..</a>
        </div>
        </div>

        <!-- <div class="col-sm-4 left"><img class="img-responsive img-rounded" src="./assets/room.jpg" alt="" height="300px" width="350px"></div>
        <div class="col-sm-4 center"><img class="img-responsive img-rounded" src="./assets/room.jpg" alt="" height="300px" width="350px"></div>
        <div class="col-sm-4 right"><img class="img-responsive img-rounded" src="./assets/room.jpg" alt="" height="300px" width="350px"></div> -->
</div>
</div>
</div>  
</div>