
<div class="wrap">
  
  

  <!-- <input type="radio" name="r" id="r1" checked value="./assets/1.jpg">
  <input type="radio" name="r" id="r2">
  <input type="radio" name="r" id="r3">
  <input type="radio" name="r" id="r4">
  <input type="radio" name="r" id="r5"> -->


 <div id="slider"> 
  <!-- <input type="radio" name="r" id="r1" checked>
  <input type="radio" name="r" id="r2">
  <input type="radio" name="r" id="r3">
  <input type="radio" name="r" id="r4">
  <input type="radio" name="r" id="r5">  -->

    <!-- <div class="slidershow middle"> -->
      <!-- <div id ="slides">
      
          <div class="slide slide_1"> 
            <img src="./assets/1.jpg" alt="Floral layout" height="490" width="100%">
          </div>

          <div class="slide slide_2"> 
            <img src="./assets/2.jpg" alt="Floral layout" height="490" width="100%">
            </div>
            
            <div class="slide slide_3"> 
            <img src="./assets/Boipelo.jpg" alt="Floral layout" height="490" width="100%">
              </div>
            
            <div class="slideslide_4"> 
            <img src="./assets/images (1).jpeg" alt="Floral layout" height="490" width="100%">
              </div>
            
            <div class="slide slide_5">
            <img src="./assets/Boipelo.jpg" alt="Floral layout" height="490" width="100%">
            </div> 
          
        </div>
        </div> -->
         <div class="slide"> 
         <figure>
          <div class="slide"> 
            <img src="./assets/1.jpg" alt="Floral layout" height="490" width="100%">
          </div>
          
          <div class="slide  slide 2"> 
          <img src="./assets/2.jpg" alt="Floral layout" height="490" width="100%">
          </div>
          
          <div class="slide  slide 3"> 
          <img src="./assets/Boipelo.jpg" alt="Floral layout" height="490" width="100%">
            </div>
          
          <div class="slide  slide 4"> 
          <img src="./assets/images (1).jpeg" alt="Floral layout" height="490" width="100%">
            </div>
          
          <div class="slide  slide 5">
          <img src="./assets/Boipelo.jpg" alt="Floral layout" height="490" width="100%">
          </div> 
        
        </figure>

         <!-- <div id="controls">
          <label for="slide 1"></label>
          <label for="slide 2"></label>  
          <label for="slide 3"></label>  
          <label for="slide 4"></label>
          <label for="slide 5"></label>
        </div>

        <div id ="bullets">
          <label for="slide 1"></label>
          <label for="slide 2"></label>  
          <label for="slide 3"></label>  
          <label for="slide 4"></label>
          <label for="slide 5"></label>
        </div> -->
         <div class="navs">
          <label for="r1" class="bar"></label>
          <label for="r2" class="bar"></label>
          <label for="r3" class="bar"></label>
          <label for="r4" class="bar"></label>
          <label for="r5" class="bar"></label>

          <div class="controls">
          <div class="prev"><</div>
          <div class="next">></div>
        </div> 
        </div>

  
       <script src="script.js"></script>
     </div>
</div>
</div>
